.about {
  @media screen and (max-width: 1279px) and (min-width: 768px) {
    margin-top: 2rem;
  }
  @media screen and (max-width: 767px) {
    margin-top: 1rem;
  }
  background-color: #fff;
  color: black;
  margin-top: 6.1rem;
  &__container {
    @media screen and (max-width: 767px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
    max-width: 1480px;
    margin: 0 auto;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    display: flex;
    justify-content: space-between;
    }

  &-left {

    &__title {
      color: black;
      margin: 0;
    }
    &__subtitle {
      @media screen and (max-width: 1279px) and (min-width: 768px) {
        padding: 1rem 0 1.8rem 0;
      }
      @media screen and (max-width: 767px) {
        padding: 0rem 0 1.2rem 0;
        position: relative;
        &::after {
          top: 100%;
          left: 0px;
          position: absolute;
          content: '';
          width: 100%;
          background: black;
          height: 3px;
          opacity: 0.1;
        }
      }
      padding: 2rem 0 4.5rem 0;
      color: #707070;
      font-family: 'Proxima Nova Rg';
      font-weight: 600;
      font-style: normal;
      font-size: 1.125rem;
      letter-spacing: -0.65px;
      opacity: 0.7;
      line-height: 28px;
    }
  }

  &-main {
    &__img{
      @media screen and (max-width: 1279px) {
        display: none;
      }
      margin-left: 0.5rem;
      margin-top: -2.625rem;
      width: auto;
      height: 23.75rem;
    }
  }

  &-right{
    @media screen and (max-width: 1279px) and (min-width: 768px) {
      margin: 0rem 0.5rem 0 1rem;
      h3 {
        margin: 0;
      }
    }
    @media screen and (max-width: 767px) {
      margin: 0rem 0.2rem 0 0.5rem;
      h3 {
        margin: 0;
      }
    }
    margin: 0.8rem 1.5rem 0 0;
    &__benefits{
      &-list{
        padding: 0;
        span {
        opacity: 0.7;
        }
      }
    }
  }

  &-item{
    display: flex;
    gap: 18px;
    margin-bottom: 1rem;
    &__img{
      opacity: 1;
      background-color: #FEE040;
      width: 1.875rem;
      height: 1.875rem;
      padding: 8px;
      border-radius: 100px;
    }
  }
}
