.services {
  @media screen and (max-width: 767px) {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
  padding-top: 4.75rem;
  padding-bottom: 5rem;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  background: url(../img/patrick-tomasso-89367-unsplash.png) no-repeat;

  
  &__overlay{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    span {
      @media screen and (max-width: 1279px) {
        display: none;
      }
        position: absolute;
        content: '';
        height: 100%;
        opacity: 0.1;
        background-color: #FFF;
        width: 1px;
      &:nth-last-of-type(1) {
        left: 13%;
      };
      &:nth-last-of-type(2) {
        left: 38%;
      };
      &:nth-last-of-type(3) {
        right: 37%
      };
      &:nth-last-of-type(4) {
        right: 13%;
      };
    }
  }

  &__container{
    @media screen and (max-width: 767px) {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
    z-index: 2;
    max-width: 1480px;
    margin: 0 auto;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    
  }

  &-info{
    text-align: center;
    position: relative;
    &__title {
      @media screen and (max-width: 767px) {
        padding-left: 0;
      }
      padding-left: 9.5rem ;
      margin-bottom: 0;
    }

    &__subtitle{
      @media screen and (max-width: 767px) {
        margin: 1rem 0rem 3.3rem 0rem;
      }
      color: #fff;
      margin: 1rem 0rem 3.3rem 8rem;
    }
  }

  &-slider {
    overflow: auto;

    position: relative;
    display: flex;
    gap: 80px;
    align-items: flex-start;
    padding-bottom: 3.4375rem;
    &::-webkit-scrollbar {
      height: 4px;
      background-color: transparent;
      &-thumb {
        background: linear-gradient(270deg, #FEE040, rgba(254, 224, 64, 0.1));
      }
     }
  }
}

.slider {

  &-item{
    display: inline-block;
    &__image{
      @media screen and (max-width: 767px) {
        width: 21rem;
        box-shadow: none;
    }
      width: 400px;
      height: 180px;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 3px 50px rgba(0, 0, 0, .3);
      
      img {
        position: absolute;
        background-position: center;

      }
    }

    &__title{
      padding-top: 30px;
      color: #FFFFFF;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 28px;
      letter-spacing: -0.5px;
    }

    &__description{
      max-width: 400px;
      padding-top: 16px;
      text-align: left;
      color: #FFFFFF;
      opacity: 0.7;
      font-family: 'Proxima Nova Lt';
      font-weight: 600;
      letter-spacing: -0.5px;
      line-height: 26px;
    }

    &__button{
      padding-top: 2rem;
    }
  }
}
