*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;

  font-size: 16px;
}

p {
  font-family: "Proxima Nova Lt";
  font-weight: 400;
}

h1 {
  letter-spacing: -0.5px;

  color: #ffffff;

  font-family: "Gilroy";
  font-size: 2.625rem;
  font-weight: 800;
  font-style: normal;
  line-height: 52px;
}

h2 {
  letter-spacing: -0.5px;

  font-family: "Gilroy";
  font-size: 2rem;
  font-weight: 800;
  font-style: normal;
  line-height: 42px;
}

h3 {
  letter-spacing: -0.5px;

  font-family: "Proxima Nova Rg";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 34px;
}

h4 {
  letter-spacing: 20px;
  text-transform: uppercase;

  color: #fee040;

  font-family: "Bebas Neue";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 16px;
}

li {
  list-style-type: none;

  letter-spacing: -0.6px;

  color: #333333;

  font-family: "Proxima Nova Rg";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.875rem;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  position: relative;

  width: 100%;
  height: 768px;
  padding: 26px 0;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 78, 134, 0.8)), to(rgba(10, 65, 104, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
  background:    linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
  background: url(../img/sean-pollock-203658-unsplash.jpg);
  background-position: center center;
  background-size: cover;
}
.header__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 78, 134, 0.8)), to(rgba(10, 65, 104, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
  background:    linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
}
.header__overlay span {
  position: absolute;
  bottom: 0;

  width: 1px;
  height: 89.5%;

  content: "";

  opacity: 0.1;
  background-color: #ffffff;
}
.header__overlay span:nth-last-of-type(1) {
  left: 13%;
}
.header__overlay span:nth-last-of-type(2) {
  left: 38%;
}
.header__overlay span:nth-last-of-type(3) {
  right: 37%;
}
.header__overlay span:nth-last-of-type(4) {
  right: 13%;
}
.header__container {
  max-width: 1480px;
  margin: 0 auto;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0rem auto 0 0rem;
}
.header-menu::after {
  position: absolute;
  top: 80px;
  left: 0;

  width: 100%;
  height: 1px;

  content: "";

  opacity: 0.1;
  background: #ffffff;
}
.header-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-burger {
  position: relative;

  width: 40px;
  height: 26px;
}
.header-burger span {
  position: absolute;

  display: block;

  height: 2px;
}
.header-burger span:nth-of-type(1) {
  top: 4px;

  width: 40px;

  background-color: #ffffff;
}
.header-burger span:nth-of-type(2) {
  top: 14px;

  width: 16px;

  background-color: #fee040;
}
.header-burger span:nth-of-type(3) {
  top: 14px;
  left: 24px;

  width: 16px;

  background-color: #fee040;
}
.header-burger span:nth-of-type(4) {
  top: 24px;

  width: 40px;

  background-color: #ffffff;
}
.header-logo {
  margin-left: 5rem;
}
.header-contacts {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-mail {
  margin-right: 7.8rem;
}
.header-mail__title {
  margin: 0;

  letter-spacing: -0.3px;

  opacity: 50%;
  color: #ffffff;

  font-size: 0.75rem;
  line-height: 0.75rem;
}
.header-mail__link {
  margin-top: 0.4rem;

  letter-spacing: -0.2px;

  color: #fee040;

  font-size: 0.875rem;
  line-height: 0.75rem;
}
.header-mail__icon {
  margin-right: 0.4rem;

  color: #fee040;
}
.header-number {
  margin-top: -1.2rem;
  margin-left: 1rem;
}
.header-number__title {
  margin-bottom: 0.3rem;

  text-align: right;
  letter-spacing: -0.3px;

  opacity: 50%;
  color: #ffffff;

  font-size: 0.75rem;
  line-height: 0.75rem;
}
.header-number__icon {
  padding-right: 7px;
}
.header-number__phone {
  margin-top: 0;

  color: #ffffff;

  font-family: "Proxima Nova Rg";
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  line-height: 24.36px;
}
.header-content {
  position: relative;

  margin-top: 8rem;
}
.header-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.header-left {
  margin: -0.2rem 1.6rem 0 0rem;
}
.header-left__title {
  max-width: 570px;
  margin: 0;
}
.header-left__subtitle {
  width: 370px;
  padding-top: 0.8rem;

  opacity: 0.7;
  color: #ffffff;

  font-size: 1.25rem;
  font-weight: 600;
  line-height: 34px;
}
.header-right {
  padding-top: 0.65rem;
}
.header-right__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 340px;
  height: 70px;
  padding-left: 3px;

  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 2px;
  background-color: #fee040;

  font-family: "Gilroy";
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 15px;

  gap: 0.75rem;
}
.header-right__subtitle {
  width: 340px;
  margin-top: 2.2rem;

  letter-spacing: 0.1px;

  color: #ffffff;

  font-size: 0.9375rem;
  line-height: 28px;
}
.header-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-bot__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 80px;
}
.header-bot__video {
  position: relative;

  width: 220px;
  height: 220px;
  margin-top: 3rem;

  background-image: url(../icons/stamp+\ 2.svg);
}
.header-bot__video .video-img {
  position: absolute;
  top: 40px;
  left: 40px;

  border-radius: 100px;
}
.header-bot__video .video-play {
  position: absolute;
  top: 98px;
  left: 104px;

  width: 20px;
  height: 23px;

  -webkit-filter: invert(88%) sepia(14%) saturate(1954%) hue-rotate(355deg) brightness(100%) contrast(105%);
          filter: invert(88%) sepia(14%) saturate(1954%) hue-rotate(355deg) brightness(100%) contrast(105%);
}
.header .features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 280px;
  padding: 12.2rem 1rem 0 0;
}
.header .features-item__subtitle {
  width: auto;
  padding-top: 3px;
  padding-left: 29px;

  letter-spacing: -0.48px;

  color: #ffffff;

  font-family: "Proxima Nova Lt";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28px;
}

.about {
  margin-top: 6.1rem;

  color: black;
  background-color: #ffffff;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  max-width: 1480px;
  margin: 0 auto;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}
.about-left__title {
  margin: 0;

  color: black;
}
.about-left__subtitle {
  padding: 2rem 0 4.5rem 0;

  letter-spacing: -0.65px;

  opacity: 0.7;
  color: #707070;

  font-family: "Proxima Nova Rg";
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  line-height: 28px;
}
.about-main__img {
  width: auto;
  height: 23.75rem;
  margin-top: -2.625rem;
  margin-left: 0.5rem;
}
.about-right {
  margin: 0.8rem 1.5rem 0 0;
}
.about-right__benefits-list {
  padding: 0;
}
.about-right__benefits-list span {
  opacity: 0.7;
}
.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 1rem;

  gap: 18px;
}
.about-item__img {
  width: 1.875rem;
  height: 1.875rem;
  padding: 8px;

  opacity: 1;
  border-radius: 100px;
  background-color: #fee040;
}

.services {
  position: relative;

  width: 100%;
  padding-top: 4.75rem;
  padding-bottom: 5rem;

  background: url(../img/patrick-tomasso-89367-unsplash.png) no-repeat;
  background-position: center center;
  background-size: cover;
}
.services__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 78, 134, 0.9)), to(rgba(10, 65, 104, 0.9)));
  background: -o-linear-gradient(top, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
  background:    linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
}
.services__overlay span {
  position: absolute;

  width: 1px;
  height: 100%;

  content: "";

  opacity: 0.1;
  background-color: #ffffff;
}
.services__overlay span:nth-last-of-type(1) {
  left: 13%;
}
.services__overlay span:nth-last-of-type(2) {
  left: 38%;
}
.services__overlay span:nth-last-of-type(3) {
  right: 37%;
}
.services__overlay span:nth-last-of-type(4) {
  right: 13%;
}
.services__container {
  z-index: 2;

  max-width: 1480px;
  margin: 0 auto;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}
.services-info {
  position: relative;

  text-align: center;
}
.services-info__title {
  margin-bottom: 0;
  padding-left: 9.5rem;
}
.services-info__subtitle {
  margin: 1rem 0rem 3.3rem 8rem;

  color: #ffffff;
}
.services-slider {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;

  padding-bottom: 3.4375rem;

  gap: 80px;
}
.services-slider::-webkit-scrollbar {
  height: 4px;

  background-color: transparent;
}
.services-slider::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, right top, left top, from(#fee040), to(rgba(254, 224, 64, 0.1)));
  background: linear-gradient(270deg, #fee040, rgba(254, 224, 64, 0.1));
}

.slider-item {
  display: inline-block;
}
.slider-item__image {
  position: relative;

  overflow: hidden;

  width: 400px;
  height: 180px;

  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 3px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 50px rgba(0, 0, 0, 0.3);
}
.slider-item__image img {
  position: absolute;

  background-position: center;
}
.slider-item__title {
  padding-top: 30px;

  letter-spacing: -0.5px;

  color: #ffffff;

  font-family: "Proxima Nova Th";
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 28px;
}
.slider-item__description {
  max-width: 400px;
  padding-top: 16px;

  text-align: left;
  letter-spacing: -0.5px;

  opacity: 0.7;
  color: #ffffff;

  font-family: "Proxima Nova Lt";
  font-weight: 600;
  line-height: 26px;
}
.slider-item__button {
  padding-top: 2rem;
}

.steps-about {
  padding: 0.1rem 0rem 5.3rem;

  text-align: center;
  letter-spacing: 0.02px;

  color: #505050;
  background-color: #ffffff;

  font-size: 1.25rem;
  line-height: 28px;
}
.steps-about__title {
  margin-bottom: 1.9rem;

  text-align: center;
  letter-spacing: 5px;

  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#60b6ff), to(rgba(0, 78, 134, 0.8)));
  background-image: -o-linear-gradient(top, #60b6ff, rgba(0, 78, 134, 0.8));
  background-image:    linear-gradient(to bottom, #60b6ff, rgba(0, 78, 134, 0.8));
  -webkit-background-clip: text;
          background-clip: text;

  font-size: 5rem;
  line-height: 4rem;
}
.steps-about__subtitle {
  padding: 0 1.275rem 0 1.275rem;
}

.step-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step-image {
  position: relative;

  width: 100%;
  max-width: 960px;
  height: 441px;

  background-position: center center;
  background-size: cover;
}
.step-one {
  position: relative;

  width: 100vh;
  max-width: 100%;
  padding: 3.1rem 4.3rem;

  background-color: #f5f5f5;
}
.step-one__title {
  margin-top: 1.9rem;
  margin-bottom: 0;
  margin-left: 8rem;
}
.step-one__title > span {
  position: absolute;
  top: 81px;
  left: 70px;

  padding: 2.8px 8px;

  letter-spacing: 3px;

  background-color: #fee040;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

  font-size: 1rem;
  line-height: 23px;
}
.step-one__description {
  width: 450px;

  letter-spacing: -0.5px;

  opacity: 0.7;
  color: #333333;

  font-family: "Proxima Nova Lt";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 26px;
}
.step-one__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-left: 0;
  padding: 0.9rem 0rem 0 0;

  gap: 30px;
}
.step-one__quote span {
  width: 450px;
  padding: -0.5rem 0 0 0.2rem;

  letter-spacing: -0.5px;

  opacity: 0.7;

  font-family: "Proxima Nova Rg";
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  line-height: 24px;
}
.step-one__autor {
  margin: 1.25rem 0 0 6.3rem;

  letter-spacing: -0.6px;

  opacity: 0.7;
  color: #151515;

  font-family: "Proxima Nova Th";
  font-weight: 800;
  line-height: 26px;
}
.step-one__image {
  width: 70px;
  height: 70px;

  border: 8px solid #ffffff;
  border-radius: 100px;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1279px) {
  .header__overlay span {
    display: none;
  }
  .header-logo {
    margin-left: 2rem;
  }
  .header-content {
    margin-top: 3rem;
  }
  .header-left__subtitle {
    padding-top: 0rem;

    line-height: 22px;
  }
  .header-right__subtitle {
    margin-top: 0rem;
  }
  .header-bot__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    gap: 0;
  }
  .header .features-item {
    padding: 1rem 1rem 0 0;
  }
  .about-main__img {
    display: none;
  }
  .services__overlay span {
    display: none;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  h1 {
    font-size: 1.8rem;
    line-height: 36px;
  }
  h2 {
    font-size: 1.3rem;
    line-height: 28px;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .header-menu {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .header-mail {
    margin-right: 1.5rem;
  }
  .about {
    margin-top: 2rem;
  }
  .about-left__subtitle {
    padding: 1rem 0 1.8rem 0;
  }
  .about-right {
    margin: 0rem 0.5rem 0 1rem;
  }
  .about-right h3 {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
    line-height: 32px;
  }
  h2 {
    font-size: 1.2rem;
    line-height: 26px;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  .header {
    height: auto;
  }
  .header__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .header-menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-mail {
    display: none;
  }
  .header-number {
    display: none;
  }
  .header-content-wrapper {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .header-left {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    margin: 0;
  }
  .header-left__title {
    width: 100%;

    text-align: center;
  }
  .header-left__subtitle {
    width: 100%;
    margin-top: 0.5rem;

    text-align: center;
  }
  .header-right__button {
    width: 285px;
    height: 50px;
    margin-top: 1rem;
  }
  .header-right__subtitle {
    width: 285px;

    text-align: center;

    font-size: 0.8rem;
    line-height: 24px;
  }
  .header-bot {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-bot__features {
    display: none;
  }
  .about {
    margin-top: 1rem;
  }
  .about__container {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    padding-right: 1.25rem;
    padding-left: 1.25rem;

    text-align: center;
  }
  .about-left__subtitle {
    position: relative;

    padding: 0rem 0 1.2rem 0;
  }
  .about-left__subtitle::after {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 3px;

    content: "";

    opacity: 0.1;
    background: black;
  }
  .about-right {
    margin: 0rem 0.2rem 0 0.5rem;
  }
  .about-right h3 {
    margin: 0;
  }
  .services {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
  .services__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .services-info__title {
    padding-left: 0;
  }
  .services-info__subtitle {
    margin: 1rem 0rem 3.3rem 0rem;
  }
  .slider-item__image {
    width: 21rem;

    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .steps-about {
    padding: 0.1rem 0rem 2.3rem;
  }
  .steps-about__title {
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    font-size: 3rem;
  }
  .step-image {
    display: none;
  }
  .step-one {
    padding: 1rem 1.5rem;
  }
  .step-one__title > span {
    top: 50px;
    left: 40px;
  }
  .step-one__description {
    width: 100%;
  }
  .step-one__autor {
    margin: 0;
  }
}
