.header {
  @media screen and (max-width: 767px) {
height: auto;
  }
  &__overlay{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    span {
      @media screen and (max-width: 1279px) {
        display: none;
      }
      bottom: 0;
        position: absolute;
        content: '';
        height: 89.5%;
        opacity: 0.1;
        background-color: #FFF;
        width: 1px;
      &:nth-last-of-type(1) {
        left: 13%;
      };
      &:nth-last-of-type(2) {
        left: 38%;
      };
      &:nth-last-of-type(3) {
        right: 37%
      };
      &:nth-last-of-type(4) {
        right: 13%;
      };
    }
  }

  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
  background: url(../img/sean-pollock-203658-unsplash.jpg);
  height: 768px;
  padding: 26px 0;

  &__container {
    @media screen and (max-width: 767px) {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
    max-width: 1480px;
    margin: 0 auto;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }

  &-menu {
    @media screen and (max-width: 1279px) and (min-width: 768px) {
      justify-content: space-evenly;
    }
    @media screen and (max-width: 767px) {
      justify-content: center;
    }

    margin: 0rem auto 0 0rem;
    display: flex;
    justify-content: space-between;

    &::after {
      top: 80px;
      left: 0px;
      position: absolute;
      content: '';
      width: 100%;
      background: #fff;
      height: 1px;
      opacity: 0.1;
    }
  }

  &-wrapper{
    position: relative;

    display: flex;
  }

  &-burger {
    height: 26px; //
    width: 40px; //
    position: relative;
    span {
      display: block;
      position: absolute;
      height: 2px;

      &:nth-of-type(1) {
        top: 4px;
        width: 40px;
        background-color: #fff;
      }
      &:nth-of-type(2) {
        top: 14px;
        width: 16px;
        background-color: #FEE040;
      }
      &:nth-of-type(3) {
        top: 14px;
        left: 24px;
        width: 16px;
        background-color: #FEE040;
      }
      &:nth-of-type(4) {
        top: 24px;
        width: 40px;
        background-color: #fff;
      }
    }
  }

  &-logo {
    @media screen and (max-width: 1279px) {
      margin-left: 2rem;
    }
    margin-left: 5rem;

  }
  &-contacts {
    position: relative;

    display: flex;

  }
  &-mail {
    @media screen and (max-width: 1279px) and (min-width: 768px) {
      margin-right: 1.5rem;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
    margin-right: 7.8rem;
    &__title{
      color: #fff;
      margin: 0;
      font-size: .75rem;
      line-height: .75rem;
      letter-spacing: -0.3px;
      opacity: 50%;
    }
    &__link{
      margin-top: .4rem;
      color: #FEE040;
      font-size: 0.875rem;
      line-height: 0.75rem;
      letter-spacing: -0.2px;
    }
    &__icon{
      margin-right: 0.4rem;
  color: #FEE040;
    }
  }

  &-number {
    @media screen and (max-width: 767px) {
      display: none;
    }
    margin-top: -1.2rem;
    margin-left: 1rem;
    &__title{
      color: #fff;
      margin-bottom: 0.3rem;
      font-size: .75rem;
      line-height: .75rem;
      letter-spacing: -0.3px;
      opacity: 50%;
      text-align: right;
    }
    &__icon{
      padding-right: 7px;
    }
    &__phone{
      margin-top: 0;
      color: #fff;
      font-family: 'Proxima Nova Rg';
      font-weight: 600;
      font-style: normal;
      font-size: 1.25rem;
      line-height: 24.36px;
    }
  }


  &-content {

    @media screen and (max-width: 1279px) {
      margin-top: 3rem;
    }
    position: relative;

    margin-top: 8rem;

    &-wrapper {
      @media screen and (max-width: 767px) {
        align-items: center;
        flex-direction: column;
      }
      display: flex;
      justify-content: space-around;

    }
  }

  &-left {
    @media screen and (max-width: 767px) {
      align-items: center;
      flex-direction: column;
      margin: 0;
      
    }
    margin: -0.2rem 1.6rem 0 0rem;

    &__title {
      @media screen and (max-width: 767px) {
        text-align: center;
        width: 100%;
      }
      margin: 0;
      max-width: 570px;
    }

    &__subtitle{
      @media screen and (max-width: 1279px){
        padding-top: 0rem;
        line-height: 22px;
      }
      @media screen and (max-width: 767px) {
        text-align: center;
        margin-top: 0.5rem;
        width: 100%;
      }
      padding-top: 0.8rem;
      width: 370px;
      color: #fff;
      font-size: 1.25rem;
      line-height: 34px;
      opacity: 0.7;
      font-weight: 600;
    }
  }

  &-right {

    padding-top: 0.65rem;

    &__button {
      @media screen and (max-width: 767px) {
        margin-top: 1rem;
        height: 50px;
        width: 285px;
      }
      padding-left: 3px;
      height: 70px;
      width: 340px;
      border-radius: 2px;
      background-color: #FEE040;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      font-family: 'Gilroy';
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 0.75rem;
      line-height: 15px;
      text-transform: uppercase;
    }

    &__subtitle {
      @media screen and (max-width: 1279px) {
        margin-top: 0rem;
      }
      @media screen and (max-width: 767px) {
        text-align: center;
        width: 285px;
        font-size: 0.8rem;
        line-height: 24px;
      }
      margin-top: 2.2rem;
      font-size: 0.9375rem;
      color: #FFFFFF;
      line-height: 28px;
      width: 340px;
      letter-spacing: 0.1px;
    }

  }

  &-bot {
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
    
    display: flex;
    justify-content: space-between;

    &__features {
      display: flex;
      gap: 80px;
      @media screen and (max-width: 1279px) {
        flex-direction: column;
        gap: 0;
      }
      @media screen and (max-width: 767px) {
        display: none;
            }
    }

    &__video {
      margin-top: 3rem;
      position: relative;
      width: 220px;
      height: 220px;
      background-image: url(../icons/stamp+\ 2.svg);



      .video-img {
        position: absolute;
        top: 40px;
        left: 40px;
        border-radius: 100px;
      }
      .video-play {
        width: 20px;
        height: 23px;
        position: absolute;
        top: 98px;
        left: 104px;
        filter: invert(88%) sepia(14%) saturate(1954%) hue-rotate(355deg) brightness(100%) contrast(105%);
      }
    }
  }

  .features-item {
    @media screen and (max-width: 1279px) {
      padding: 1rem 1rem 0 0;
    }
    padding: 12.2rem 1rem 0 0;
    width: 280px;
    display: flex;
    
    &__subtitle {
      padding-top: 3px;
      padding-left: 29px;
      font-family: 'Proxima Nova Lt';
      font-weight: 600;
      color: #FFFFFF;
      width: auto;
      line-height: 28px;
      letter-spacing: -0.48px;
      font-size: 1.25rem;
    }
  }

}
