*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

p {
  font-family: 'Proxima Nova Lt';
  font-weight: 400;
}

h1 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  font-size: 2.625rem;
  line-height: 52px;
  letter-spacing: -0.5px;
  @media screen and (max-width: 1279px) and (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 36px;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  line-height: 42px;
  letter-spacing: -0.5px;
  @media screen and (max-width: 1279px) and (min-width: 768px) {
    font-size: 1.3rem;
    line-height: 28px;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.2rem;
    line-height: 26px;
  }
}

h3 {
  font-family: 'Proxima Nova Rg';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 34px;
  letter-spacing: -0.5px;
  @media screen and (max-width: 1279px) and (min-width: 768px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.1rem;
  }
}

h4 {
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 16px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #FEE040;
  @media screen and (max-width: 1279px) and (min-width: 768px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
}

li {
  color: #333333;
  list-style-type: none;
  font-family: 'Proxima Nova Rg';
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: -0.6px;
  line-height: 1.875rem;
  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
display: none;
 }